footer {
  background-color: var(--bg-secondary-color);
  padding: 1rem;
  text-align: center;
  font-size: 1rem;
  color: var(--text-color);
  position: fixed;
  width: 100%;
  bottom: 0;
}

footer .help, footer .social-media-link {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 1rem;
}

footer a {
  color: var(--text-color);
  text-decoration: none;
}

footer a:hover {
  color: var(--text-color-hover);
}